.timeline-content
{
    margin: 0 0 15px 155px;
    position: relative;
    display: block;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background-color: #3594cb;
    color: #FFF;
    font-size: 13px;
    line-height: 1.6;
    text-align: left;

}

.timeline-content>h2,
.timeline-content>h3,
.timeline-content>h4
{
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}



.timeline-time
{
    padding-top: 5px;
    display: block;
    position: absolute;
    width: 105px;

    color: #3594cb;
    font-size: 13px;
    line-height: 1.6;
}

.timeline-time:before
{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left:110px;
    background-color:#afdcf8;

}
.timeline-time:before:after
{
    background-color: #3594cb;
}


.timeline-content:after
{
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}


.timeline:before
{
    content: '';
    position:absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    margin-left: 120px;
}

.timeline
{
    padding: 0;
    margin: 20px;
    font-family: Microsoft YaHei, "Î¢ÈíÑÅºÚ";
    list-style: none;
}

.timeline-time:hover+.timeline-content,.timeline-content:hover
{
    color: #eee;
}

