

/* ²¼¾Ö */
body,html
{
    height:100%;
    border:0px;
    padding:0px;
    margin:0px;
}
.wrap
{
    position:relative;
    margin: 0 auto;
    width:1000px;
}
.wrap:after
{
    content: "";
    display: block;
    clear: both;
}

.main,.side
{
    float:left;
}

.main
{
    width: 70%;
}

.side
{
    width: 30%;
}


.content
{
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}


